header {
	display: grid;
	justify-content: center;
	background-color: #7f7de0;
}

nav {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	justify-content: center;
}

section {
	display: grid;
	justify-content: center;
	margin: 20px;
}

footer {
	display: grid;
	justify-content: center;
	background-color: #7f7de0;
}

